extends layout.pug

block content
  div(class='row')
    div(class='col')
      block seccionGrafico
        p Acá viene el gráfico de temperatura junto con la ultima medición
        hr
  
  div(class='row')
    div(class='col')
      block seccionEstado

    div(class='col')
      block seccionConfiguracion
        h2(class="text-center") Sección de Configuración
        form(method='POST' action='')
        div.form-group
          label(for='led_state') Estado del LED:
          select#led_state.form-control(type='select' placeholder='Seleccione Estado' name='led_state' required='true')
            option(value='0') Apagado
            option(value='1') Endendido
        div.form-group
          label(for='interval') Intervalo de envío de las mediciones [segundos]:
          input#interval.form-control(type='number' placeholder='Intervalo en segundos' name='interval' required='true' min='1' max='600' value='300')
        button.btn.btn-primary(type='submit') Submit
        if errors 
          ul
            for error in errors
              li!= error.msg       


//-  hr
//-  h2 Measurement Documents in Firebase
//-  ul
//-    each doc in doc_list
//-      li 
//-        a(href=doc.id) #{doc.id}
//-
//-
//-    else
//-      li There are no documents to list.
