extends layout

block content
    h2 Información sobre el Dispositivo en Google Cloud IoT Core
    ul
      li projectId = 'e-charger-218218'
      li deviceId = 'nodemcu1' o deviceId = 'espressif-esp32'
      li registryId = 'kaizenIT-test'
      li cloudRegion = 'us-central1'
