doctype html
html(lang='en')
  head
    block head
      title Panel de Control

      // Required meta tags
      meta(charset='utf-8')
      //meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // Bootstrap CSS
      link(rel="stylesheet", href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
      // Own Style Sheet
      link(rel='stylesheet', href='/stylesheets/style.css')
      // Additionals
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
      // Optional JavaScript
      // jQuery first, then Popper.js, then Bootstrap JS
      //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
      script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
      // Socket.IO
      script(src='https://cdn.socket.io/socket.io-1.2.0.js')

    
  body
    div(class='container-fluid')
      h1(class="text-center tituloPrincipal") Control y Monitoreo de Cámara Frigorífica

      /// colocamos un menu al costado
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/')!= '<i class="material-icons md-48 md-dark">home</i>Dashboard'
                  
              li
                a(href='/info')!= '<i class="material-icons md-48 md-dark">info</i>Información'

        div(class='col-sm-10')
          block content


    //- // Optional JavaScript
    //- // jQuery first, then Popper.js, then Bootstrap JS
    //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
    //- // Socket.IO
    //- script(src='https://cdn.socket.io/socket.io-1.2.0.js')
