body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: Roboto;
  background-color: rgb(255, 255, 255);
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.tituloPrincipal {
  width: 100%;
  background-color: rgb(0, 118, 197);
  color: white;
}

/* Las siguientes clases son para la sección de ESTADO */
.etiquetaEstado {
  width: 100px;
  text-align: right;
}

.valorEstado {
  text-align: left;
  font-weight: bold;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

